$error-color: #a94442;
$primary-color: #ac9393;
$secondary-color: #916f6f;
$link-color-primary: $primary-color;
$link-color: $primary-color;
$background-primary-color: $primary-color;
$nav-primary-color: #800000;//#292929
$nav-secondary-color: #c83737;//#393836
$nav-text-primary-color: #fff;//#fff
$nav-text-secondary-color: #fdfdfd; //#666
$footer-background-primary: #800000; //#222;
$footer-text-primary-color: #fff;//#777
$footer-text-secondary-color: yellow; //